
.cards-search_results{
    display: flex;
} 
.cards-search{
    display: flex;
}

.add-fav {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: -webkit-linear-gradient( top,#fff,#ddd) #ddd;
    position: relative;
    transition: all .5s ease;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px #eee;
    
}
  
    .fa-solid {
      font-size: 16px;
      color: #e44e8d;
      position: relative;
    }


    input[type="checkbox"] { 
        position: absolute;
        opacity: 0;
    }