footer
  .footer-content
    p "Búsqueda de ofertas Freelance"
    p Realizado por: Verónica Parra, Rafa Lasso, Ángel Vegas y Adrián Terciado
    address The Bridge, Recoletos 15, Madrid
    p @Copyright 2024
