footer
  p &quot;B&uacute;squeda de ofertas Freelance&quot;
  p Realizado por: Ver&oacute;nica Parra, Rafa Lasso, &Aacute;ngel Vegas y Adri&aacute;n Terciado
  address The Bridge, P&ordm; Recoletos, 15, Madrid
  p @Copyright 2024