doctype html
head
html(lang='en')
  meta(charset='UTF-8')
  script(src='https://kit.fontawesome.com/93de5423bf.js' crossorigin='anonymous')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
  link(rel='icon' type='image/x-icon' href='/')
  link(rel='stylesheet' href='/style.css')
  title APP

  include ./headerFalse.pug
main
  section.hero
    h2 OFERTAS FREELANCE
    input#text_search(type='text', placeholder='What about?', name='looking_for', required='')
    button#search_button Search
  section#cards-search_results

  include ./footer.pug
script(src='./script.js')