doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // Fontawesome CDN link
    script(src='https://kit.fontawesome.com/93de5423bf.js' crossorigin='anonymous')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Goolge Fonts CDN link
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
    // Project's own links
    link(rel='icon' type='image/x-icon' href='/')
    link(rel='stylesheet' href='/style.css')
    title APP
  body
    header
      include ./headerFalse.pug
    main.sign-view
      section.container
        article.form-container-log
          h2 Login
          form(action='#')
            label(for='login-username') Username
            input#login-username(type='text' name='login-username' required='')
            label(for='login-password') Password
            input#login-password(type='password' name='login-password' required='')
            input(type='submit' value='Login')
            .forgot-password
              a(href='#') ¿Has olvidado tu contraseña?
    
    footer 
     include ./footer.pug