doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // Fontawesome CDN link
    script(src='https://kit.fontawesome.com/93de5423bf.js' crossorigin='anonymous')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Goolge Fonts CDN link
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
    // Project's own links
    link(rel='icon' type='image/x-icon' href='/')
    link(rel='stylesheet' href='/style.css')
    title APP
  body
  
    header
      include ./headerAdmin.pug
    main.log-view
        section.container
            article.form-container
            h2 Sign Up
            form(action='#')
                label(for='signup-name') Nombre y apellidos
                input#signup-name(type='text' name='signup-name' required='')
                label(for='signup-username') Nombre de usuario
                input#signup-username(type='text' name='signup-username' required='')
                label(for='signup-email') Email
                input#signup-email(type='email' name='signup-email' required='')
                label(for='signup-password') Contraseña
                input#signup-password(type='password' name='signup-password' required='')
                label(for='signup-confirm-password') Confirmar contraseña
                input#signup-confirm-password(type='password' name='signup-confirm-password' required='')
                span#password-error.error-message
                input(type='submit' value='Sign Up')
        script(src='/script.js')  
    
    footer 
     include ./footer.pug