.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 96);
    padding: 10px;
}

a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 5px;
}

a:hover{
    font-size: 1.2em;
    background-color: orange;
    color: white;
}

footer{
    background-color: rgb(0, 0, 96);
    color: white;
    text-align: center;
    padding: 5px;
    line-height: 7px;
}
